@tailwind base;
@tailwind components;
@tailwind utilities;


.no {
    border: 2px solid red;
}

.card {
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.flip {
    transform: rotatey(180deg);
}

.face {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

body {
    cursor: url("./image/navigate.png"), auto;
}

.click-task{
    cursor: url("./image/pen.png"), auto;
}

.click-details {
    cursor: url("./image/writing.png"), auto;
}

.click {
    cursor: url("./image/tap.png"), auto;
}

.click-no{
    cursor: url("./image/say-no.png"), auto;
}

.click-rubbish{
    cursor: url("./image/rubbish-bin.png"), auto;
}

.click-undo{
    cursor: url("./image/undo.png"), auto;
}

.cursor-light {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: transparent;
    background-color: rgb(42, 83, 114);
    box-shadow: 0 0 10px 60px rgb(42, 83, 114);
}